
div{
    box-sizing: border-box;
}
.app {
    display: inline-block;
    outline: 1px solid rgba(0,0,0,.25);
    background-color: whitesmoke;
    text-align: center;
}
.info {
    height: 500px;
    width: 250px;
    outline: 1px solid rgba(0,0,0,.25);
    margin: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.bodyText {
    text-align: left;
}

#sortInfo {
    height: 100%;
}

.main {
    display: flex;
}

h1 {
    margin: 0 5px;
}
h2 {
    margin: 5px;
}
dl {
    margin-left: 5px;
}
dt {
    font-weight: bold;
}

dd {
    margin-bottom: 5px;
}
.squareHolder{
    width: 605px;
    height: 500px;
    background-color: skyblue;
    position: relative;
    margin: 5px;
}
.hidden {
    display: none;
}

.hole {
  width: 10px;
  background-color: skyblue;
  position: absolute;
  height: 5px;
}

.bar {
    width: 10px;
    position: absolute;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 1px rgba(0, 0, 255, 0.4);
    overflow: hidden;
}

.wraper {
    display: flex;
    justify-content: center;
}
.ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px 2px;
}
