body {
    margin: 0px;
}
div{
    box-sizing: border-box;
}
.app {
    display: inline-block;
    outline: 1px solid rgba(0,0,0,.25);
    background-color: whitesmoke;
    text-align: center;
    padding: 5px;
}
.infoHolder {
    height: 500px;
    width: 250px;
    outline: 1px solid rgba(0,0,0,.25);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: space-between; */
}

.countHolder {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.countHolder div {
    margin: 5px;
}

button {
    color: white;
    background-color: rgb(25, 25,255);
    font-size: medium;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(75,75,255);
}

button:disabled {
    background-color: grey;
}

.uiHolder {
    display: flex;
    justify-content: space-between;
}

.linkBtns {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkBtns label {
    font-weight: bold;
    font-size: small;
    margin: 0px 5px 0px 5px;
}

.linkBtns img {
    margin: 5px;
}

.bodyText {
    text-align: left;
}

#sortInfo {
    height: 100%;
}

.main {
    display: flex;
}

h1 {
    margin: 0 5px;
}
h2 {
    margin: 5px;
}
dl {
    margin-left: 5px;
}
dt {
    font-weight: bold;
}

dd {
    margin-bottom: 5px;
}
.squareHolder{
    width: 605px;
    height: 500px;
    background-color: skyblue;
    position: relative;
    margin: 5px;
}
.hidden {
    display: none;
}

/* .hole {
  width: 10px;
  background-color: skyblue;
  position: absolute;
  height: 5px;
} */

.linkImg {
    max-width: 100px;
    cursor: pointer;

}

.bar {
    width: 10px;
    position: absolute;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 1px rgba(0, 0, 255, 0.4);
    overflow: hidden;
}

.wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px 2px;
}
